# Path to llama-quantize binary
# LLAMA_QUANTIZE=/path/to/llama-quantize

# Path to llama.cpp build/bin directory
# LLAMA_CPP_DIR=/path/to/llama.cpp/build/bin

# Set your Huggingface token in order to upload model's quants
# HF_TOKEN=hf_xxxx

# Enable S3 uploading for quants
# S3_ENDPOINT=https://somes3storage.net

# then set IAM token
# S3_TOKEN=xxx

# or set secret/key-id
# S3_SECRET=xxx
# S3_KEY_ID=xxx
